# Exploratory Data Analysis On Mental Health Data

# about data
- Description:
data set was downloaded from kaggle

# 01:Import libraries

In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 02: loading data

In [2]:
df=pd.read_csv("Mental Health Dataset.csv")

In [3]:
#df.to_excel("Mental_Health_Dataset.xlsx", index=False)

# 03: meta data

#  cols and rows

In [4]:
print('rows are:',df.shape[0])
print("cols are: ",df.shape[1])

rows are: 292364
cols are:  17

In [5]:
df.head()

,Timestamp,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options
0,8/27/2014 11:29,Female,United States,Corporate,NaN,No,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Not sure
1,8/27/2014 11:31,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,No
2,8/27/2014 11:32,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes
3,8/27/2014 11:37,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,Maybe,Yes
4,8/27/2014 11:43,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes

In [6]:
df.columns

Index(['Timestamp', 'Gender', 'Country', 'Occupation', 'self_employed',
       'family_history', 'treatment', 'Days_Indoors', 'Growing_Stress',
       'Changes_Habits', 'Mental_Health_History', 'Mood_Swings',
       'Coping_Struggles', 'Work_Interest', 'Social_Weakness',
       'mental_health_interview', 'care_options'],
      dtype='object')

# Droping unnecessary columns

In [7]:
df=df.drop(columns=['Mood_Swings'],axis=1)
df=df.drop(columns=['Social_Weakness'],axis=1)
df=df.drop(columns=['Work_Interest'],axis=1)

In [8]:
df.columns

Index(['Timestamp', 'Gender', 'Country', 'Occupation', 'self_employed',
       'family_history', 'treatment', 'Days_Indoors', 'Growing_Stress',
       'Changes_Habits', 'Mental_Health_History', 'Coping_Struggles',
       'mental_health_interview', 'care_options'],
      dtype='object')

In [9]:
df=pd.DataFrame(df)
df

,Timestamp,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Coping_Struggles,mental_health_interview,care_options
0,8/27/2014 11:29,Female,United States,Corporate,NaN,No,Yes,1-14 days,Yes,No,Yes,No,No,Not sure
1,8/27/2014 11:31,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,No,No,No
2,8/27/2014 11:32,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,No,No,Yes
3,8/27/2014 11:37,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,No,Maybe,Yes
4,8/27/2014 11:43,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,No,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292359,7/27/2015 23:25,Male,United States,Business,Yes,Yes,Yes,15-30 days,No,Maybe,No,Yes,Maybe,Not sure
292360,8/17/2015 9:38,Male,South Africa,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Yes,No,Yes
292361,8/25/2015 19:59,Male,United States,Business,No,Yes,No,15-30 days,No,Maybe,No,Yes,No,No
292362,9/26/2015 1:07,Male,United States,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Yes,No,Yes
292363,2/1/2016 23:04,Male,United States,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Yes,No,Yes

In [10]:
df.Days_Indoors.unique()

array(['1-14 days', 'Go out Every day', 'More than 2 months',
       '15-30 days', '31-60 days'], dtype=object)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292364 entries, 0 to 292363
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Timestamp                292364 non-null  object
 1   Gender                   292364 non-null  object
 2   Country                  292364 non-null  object
 3   Occupation               292364 non-null  object
 4   self_employed            287162 non-null  object
 5   family_history           292364 non-null  object
 6   treatment                292364 non-null  object
 7   Days_Indoors             292364 non-null  object
 8   Growing_Stress           292364 non-null  object
 9   Changes_Habits           292364 non-null  object
 10  Mental_Health_History    292364 non-null  object
 11  Coping_Struggles         292364 non-null  object
 12  mental_health_interview  292364 non-null  object
 13  care_options             292364 non-null  object
dtypes: object(14)
memory usage: 31.2+ MB

In [12]:
df.isnull().sum()

Timestamp                     0
Gender                        0
Country                       0
Occupation                    0
self_employed              5202
family_history                0
treatment                     0
Days_Indoors                  0
Growing_Stress                0
Changes_Habits                0
Mental_Health_History         0
Coping_Struggles              0
mental_health_interview       0
care_options                  0
dtype: int64

# impute null values

In [13]:
import pandas as pd

# Assuming df is your DataFrame
df['self_employed'].fillna(df['self_employed'].mode()[0], inplace=True)

In [14]:
df.isnull().sum()

Timestamp                  0
Gender                     0
Country                    0
Occupation                 0
self_employed              0
family_history             0
treatment                  0
Days_Indoors               0
Growing_Stress             0
Changes_Habits             0
Mental_Health_History      0
Coping_Struggles           0
mental_health_interview    0
care_options               0
dtype: int64

In [15]:
df.describe()

,Timestamp,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Coping_Struggles,mental_health_interview,care_options
count,292364,292364,292364,292364,292364,292364,292364,292364,292364,292364,292364,292364,292364,292364
unique,580,2,35,5,2,2,2,5,3,3,3,2,3,3
top,8/27/2014 11:43,Male,United States,Housewife,No,No,Yes,1-14 days,Maybe,Yes,No,No,No,No
freq,2384,239850,171308,66351,263196,176832,147606,63548,99985,109523,104018,154328,232166,118886

# value count funtion to count male and female

In [16]:
df.Gender.value_counts()

Gender
Male      239850
Female     52514
Name: count, dtype: int64

# feature encoding
- label encoding

In [17]:
df.columns

Index(['Timestamp', 'Gender', 'Country', 'Occupation', 'self_employed',
       'family_history', 'treatment', 'Days_Indoors', 'Growing_Stress',
       'Changes_Habits', 'Mental_Health_History', 'Coping_Struggles',
       'mental_health_interview', 'care_options'],
      dtype='object')

In [18]:
df[['Timestamp', 'Gender', 'Country', 'Occupation', 'self_employed','Changes_Habits','Growing_Stress','Days_Indoors' #family_history' 'treatment', 'Growing_Stress','Changes_Habits', 'Mental_Health_History', 'Coping_Struggles''mental_health_interview', #'care_options'
    ]]

,Timestamp,Gender,Country,Occupation,self_employed,Changes_Habits,Growing_Stress,Days_Indoors
0,8/27/2014 11:29,Female,United States,Corporate,No,No,Yes,1-14 days
1,8/27/2014 11:31,Female,United States,Corporate,No,No,Yes,1-14 days
2,8/27/2014 11:32,Female,United States,Corporate,No,No,Yes,1-14 days
3,8/27/2014 11:37,Female,United States,Corporate,No,No,Yes,1-14 days
4,8/27/2014 11:43,Female,United States,Corporate,No,No,Yes,1-14 days
...,...,...,...,...,...,...,...,...
292359,7/27/2015 23:25,Male,United States,Business,Yes,Maybe,No,15-30 days
292360,8/17/2015 9:38,Male,South Africa,Business,No,Maybe,No,15-30 days
292361,8/25/2015 19:59,Male,United States,Business,No,Maybe,No,15-30 days
292362,9/26/2015 1:07,Male,United States,Business,No,Maybe,No,15-30 days
292363,2/1/2016 23:04,Male,United States,Business,No,Maybe,No,15-30 days

In [19]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df['Gender']=le.fit_transform(df.Gender.values)
df['Timestamp']=le.fit_transform(df['Timestamp'])

In [20]:
df.Gender.value_counts()

Gender
1    239850
0     52514
Name: count, dtype: int64

## one hot coding

In [21]:
dumies=pd.get_dummies(df.self_employed)
dumies

           No    Yes
0        True  False
1        True  False
2        True  False
3        True  False
4        True  False
...       ...    ...
292359  False   True
292360   True  False
292361   True  False
292362   True  False
292363   True  False

[292364 rows x 2 columns]

# merge dumies and df

In [22]:
df1=pd.concat([df,dumies],axis='columns')

In [23]:
df1.head(6)

,Timestamp,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Coping_Struggles,mental_health_interview,care_options,No,Yes
0,39,0,United States,Corporate,No,No,Yes,1-14 days,Yes,No,Yes,No,No,Not sure,True,False
1,41,0,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,No,No,No,True,False
2,42,0,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,No,No,Yes,True,False
3,47,0,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,No,Maybe,Yes,True,False
4,52,0,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,No,No,Yes,True,False
5,56,0,Poland,Corporate,No,No,Yes,1-14 days,Yes,No,Yes,No,Maybe,Not sure,True,False

# droping country from orignal data

In [24]:
df2=df1.drop('Country',axis='columns')
df2

,Timestamp,Gender,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Coping_Struggles,mental_health_interview,care_options,No,Yes
0,39,0,Corporate,No,No,Yes,1-14 days,Yes,No,Yes,No,No,Not sure,True,False
1,41,0,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,No,No,No,True,False
2,42,0,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,No,No,Yes,True,False
3,47,0,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,No,Maybe,Yes,True,False
4,52,0,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,No,No,Yes,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292359,36,1,Business,Yes,Yes,Yes,15-30 days,No,Maybe,No,Yes,Maybe,Not sure,False,True
292360,37,1,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Yes,No,Yes,True,False
292361,38,1,Business,No,Yes,No,15-30 days,No,Maybe,No,Yes,No,No,True,False
292362,570,1,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Yes,No,Yes,True,False
292363,4,1,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Yes,No,Yes,True,False

In [25]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292364 entries, 0 to 292363
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Timestamp                292364 non-null  int32
 1   Gender                   292364 non-null  int32
 2   Occupation               292364 non-null  object
 3   self_employed            292364 non-null  object
 4   family_history           292364 non-null  object
 5   treatment                292364 non-null  object
 6   Days_Indoors             292364 non-null  object
 7   Growing_Stress           292364 non-null  object
 8   Changes_Habits           292364 non-null  object
 9   Mental_Health_History    292364 non-null  object
 10  Coping_Struggles         292364 non-null  object
 11  mental_health_interview  292364 non-null  object
 12  care_options             292364 non-null  object
 13  No                       292364 non-null  bool
 14  Yes                      292364 non-null  bool
dtypes: bool(2), int32(2), object(11)
memory usage: 27.3+ MB