# Exploratory Data Analysis On Mental Health Data

# about data
- Description:
data set was downloaded from kaggle

# 01:Import libraries

In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 02: loading data

In [2]:
df=pd.read_csv("Mental Health Dataset.csv")

In [3]:
#df.to_excel("Mental_Health_Dataset.xlsx", index=False)

# 03: meta data

#  cols and rows

In [4]:
print('rows are:',df.shape[0])
print("cols are: ",df.shape[1])

rows are: 292364
cols are:  17

In [5]:
df.head()

,Timestamp,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options
0,8/27/2014 11:29,Female,United States,Corporate,NaN,No,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Not sure
1,8/27/2014 11:31,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,No
2,8/27/2014 11:32,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes
3,8/27/2014 11:37,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,Maybe,Yes
4,8/27/2014 11:43,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes

In [6]:
df.columns

Index(['Timestamp', 'Gender', 'Country', 'Occupation', 'self_employed',
       'family_history', 'treatment', 'Days_Indoors', 'Growing_Stress',
       'Changes_Habits', 'Mental_Health_History', 'Mood_Swings',
       'Coping_Struggles', 'Work_Interest', 'Social_Weakness',
       'mental_health_interview', 'care_options'],
      dtype='object')

# Droping unnecessary columns

In [7]:
df=df.drop(columns=['Mood_Swings'],axis=1)
df=df.drop(columns=['Social_Weakness'],axis=1)
df=df.drop(columns=['Work_Interest'],axis=1)

In [8]:
df.columns

Index(['Timestamp', 'Gender', 'Country', 'Occupation', 'self_employed',
       'family_history', 'treatment', 'Days_Indoors', 'Growing_Stress',
       'Changes_Habits', 'Mental_Health_History', 'Coping_Struggles',
       'mental_health_interview', 'care_options'],
      dtype='object')

In [9]:
df=pd.DataFrame(df)
df

,Timestamp,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Coping_Struggles,mental_health_interview,care_options
0,8/27/2014 11:29,Female,United States,Corporate,NaN,No,Yes,1-14 days,Yes,No,Yes,No,No,Not sure
1,8/27/2014 11:31,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,No,No,No
2,8/27/2014 11:32,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,No,No,Yes
3,8/27/2014 11:37,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,No,Maybe,Yes
4,8/27/2014 11:43,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,No,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292359,7/27/2015 23:25,Male,United States,Business,Yes,Yes,Yes,15-30 days,No,Maybe,No,Yes,Maybe,Not sure
292360,8/17/2015 9:38,Male,South Africa,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Yes,No,Yes
292361,8/25/2015 19:59,Male,United States,Business,No,Yes,No,15-30 days,No,Maybe,No,Yes,No,No
292362,9/26/2015 1:07,Male,United States,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Yes,No,Yes
292363,2/1/2016 23:04,Male,United States,Business,No,Yes,Yes,15-30 days,No,Maybe,No,Yes,No,Yes

In [10]:
df.Days_Indoors.unique()

array(['1-14 days', 'Go out Every day', 'More than 2 months',
       '15-30 days', '31-60 days'], dtype=object)

In [11]:
df. Timestamp.unique()

array(['8/27/2014 11:29', '8/27/2014 11:31', '8/27/2014 11:32',
       '8/27/2014 11:37', '8/27/2014 11:43', '8/27/2014 11:49',
       '8/27/2014 11:51', '8/27/2014 11:52', '8/27/2014 12:18',
       '8/27/2014 12:37', '8/27/2014 12:39', '8/27/2014 12:40',
       '8/27/2014 12:49', '8/27/2014 12:50', '8/27/2014 12:51',
       '8/27/2014 12:53', '8/27/2014 12:55', '8/27/2014 12:57',
       '8/27/2014 13:06', '8/27/2014 13:31', '8/27/2014 13:47',
       '8/27/2014 13:49', '8/27/2014 13:55', '8/27/2014 14:11',
       '8/27/2014 14:13', '8/27/2014 14:16', '8/27/2014 14:19',
       '8/27/2014 14:27', '8/27/2014 14:31', '8/27/2014 14:52',
       '8/27/2014 15:22', '8/27/2014 15:24', '8/27/2014 15:29',
       '8/27/2014 15:34', '8/27/2014 15:35', '8/27/2014 15:36',
       '8/27/2014 16:02', '8/27/2014 16:14', '8/27/2014 16:19',
       '8/27/2014 16:21', '8/27/2014 16:25', '8/27/2014 16:27',
       '8/27/2014 16:35', '8/27/2014 16:42', '8/27/2014 17:08',
       '8/27/2014 17:32', '8/27/2014 17:37', '8/27/2014 17:48',
       '8/27/2014 17:56', '8/27/2014 18:02', '8/27/2014 18:59',
       '8/27/2014 19:05', '8/27/2014 20:33', '8/27/2014 20:48',
       '8/27/2014 21:54', '8/27/2014 22:14', '8/28/2014 1:30',
       '8/28/2014 1:41', '8/28/2014 1:56', '8/28/2014 2:32',
       '8/28/2014 3:29', '8/28/2014 4:02', '8/28/2014 4:16',
       '8/28/2014 8:39', '8/28/2014 9:16', '8/28/2014 9:18',
       '8/28/2014 9:55', '8/28/2014 11:26', '8/28/2014 11:38',
       '8/28/2014 11:47', '8/28/2014 11:50', '8/28/2014 12:10',
       '8/28/2014 12:12', '8/28/2014 13:08', '8/28/2014 13:11',
       '8/28/2014 13:26', '8/28/2014 13:41', '8/28/2014 14:31',
       '8/28/2014 14:52', '8/28/2014 16:54', '8/28/2014 17:12',
       '8/28/2014 17:20', '8/28/2014 18:21', '8/28/2014 18:50',
       '8/28/2014 21:41', '8/29/2014 5:57', '8/29/2014 8:59',
       '8/29/2014 9:02', '8/29/2014 9:14', '8/29/2014 9:23',
       '8/29/2014 9:51', '8/29/2014 9:53', '8/29/2014 10:06',
       '8/29/2014 10:59', '8/29/2014 11:11', '8/29/2014 11:23',
       '8/29/2014 11:33', '8/29/2014 11:53', '8/29/2014 11:54',
       '8/29/2014 12:54', '8/29/2014 14:51', '8/29/2014 16:17',
       '8/29/2014 17:04', '8/29/2014 21:40', '8/29/2014 22:08',
       '8/30/2014 19:56', '9/2/2014 8:24', '9/4/2014 23:42',
       '9/8/2014 21:30', '9/20/2014 13:51', '10/2/2014 21:25',
       '12/1/2014 9:58', '2/21/2015 4:32', '2/21/2015 5:11',
       '2/21/2015 9:18', '2/21/2015 18:54', '2/24/2015 8:54',
       '6/25/2015 12:24', '8/27/2014 11:30', '8/27/2014 11:33',
       '8/27/2014 11:34', '8/27/2014 11:35', '8/27/2014 11:36',
       '8/27/2014 11:38', '8/27/2014 11:39', '8/27/2014 11:41',
       '8/27/2014 11:42', '8/27/2014 11:45', '8/27/2014 11:47',
       '8/27/2014 11:48', '8/27/2014 11:50', '8/27/2014 11:56',
       '8/27/2014 11:57', '8/27/2014 11:59', '8/27/2014 12:01',
       '8/27/2014 12:02', '8/27/2014 12:05', '8/27/2014 12:07',
       '8/27/2014 12:12', '8/27/2014 12:14', '8/27/2014 12:16',
       '8/27/2014 12:19', '8/27/2014 12:20', '8/27/2014 12:22',
       '8/27/2014 12:23', '8/27/2014 12:25', '8/27/2014 12:28',
       '8/27/2014 12:29', '8/27/2014 12:31', '8/27/2014 12:32',
       '8/27/2014 12:33', '8/27/2014 12:34', '8/27/2014 12:36',
       '8/27/2014 12:38', '8/27/2014 12:41', '8/27/2014 12:42',
       '8/27/2014 12:43', '8/27/2014 12:48', '8/27/2014 12:52',
       '8/27/2014 12:54', '8/27/2014 12:56', '8/27/2014 12:58',
       '8/27/2014 13:02', '8/27/2014 13:03', '8/27/2014 13:07',
       '8/27/2014 13:08', '8/27/2014 13:12', '8/27/2014 13:15',
       '8/27/2014 13:19', '8/27/2014 13:21', '8/27/2014 13:22',
       '8/27/2014 13:23', '8/27/2014 13:24', '8/27/2014 13:26',
       '8/27/2014 13:27', '8/27/2014 13:29', '8/27/2014 13:33',
       '8/27/2014 13:34', '8/27/2014 13:35', '8/27/2014 13:37',
       '8/27/2014 13:39', '8/27/2014 13:40', '8/27/2014 13:44',
       '8/27/2014 13:46', '8/27/2014 13:48', '8/27/2014 13:52',
       '8/27/2014 13:53', '8/27/2014 13:54', '8/27/2014 13:56',
       '8/27/2014 13:59', '8/27/2014 14:01', '8/27/2014 14:03',
       '8/27/2014 14:10', '8/27/2014 14:15', '8/27/2014 14:18',
       '8/27/2014 14:20', '8/27/2014 14:22', '8/27/2014 14:23',
       '8/27/2014 14:25', '8/27/2014 14:26', '8/27/2014 14:28',
       '8/27/2014 14:29', '8/27/2014 14:32', '8/27/2014 14:33',
       '8/27/2014 14:34', '8/27/2014 14:37', '8/27/2014 14:38',
       '8/27/2014 14:39', '8/27/2014 14:41', '8/27/2014 14:45',
       '8/27/2014 14:47', '8/27/2014 14:49', '8/27/2014 14:51',
       '8/27/2014 14:53', '8/27/2014 14:57', '8/27/2014 15:05',
       '8/27/2014 15:09', '8/27/2014 15:11', '8/27/2014 15:13',
       '8/27/2014 15:14', '8/27/2014 15:15', '8/27/2014 15:23',
       '8/27/2014 15:25', '8/27/2014 15:26', '8/27/2014 15:27',
       '8/27/2014 15:28', '8/27/2014 15:31', '8/27/2014 15:32',
       '8/27/2014 15:38', '8/27/2014 15:39', '8/27/2014 15:40',
       '8/27/2014 15:43', '8/27/2014 15:46', '8/27/2014 15:50',
       '8/27/2014 15:51', '8/27/2014 15:53', '8/27/2014 15:55',
       '8/27/2014 15:56', '8/27/2014 15:58', '8/27/2014 15:59',
       '8/27/2014 16:00', '8/27/2014 16:04', '8/27/2014 16:07',
       '8/27/2014 16:13', '8/27/2014 16:15', '8/27/2014 16:17',
       '8/27/2014 16:22', '8/27/2014 16:23', '8/27/2014 16:28',
       '8/27/2014 16:29', '8/27/2014 16:31', '8/27/2014 16:34',
       '8/27/2014 16:55', '8/27/2014 17:03', '8/27/2014 17:04',
       '8/27/2014 17:09', '8/27/2014 17:10', '8/27/2014 17:15',
       '8/27/2014 17:19', '8/27/2014 17:33', '8/27/2014 17:39',
       '8/27/2014 17:41', '8/27/2014 17:46', '8/27/2014 17:47',
       '8/27/2014 17:52', '8/27/2014 18:16', '8/27/2014 18:18',
       '8/27/2014 18:41', '8/27/2014 19:13', '8/27/2014 19:17',
       '8/27/2014 19:25', '8/27/2014 19:27', '8/27/2014 19:28',
       '8/27/2014 19:34', '8/27/2014 19:38', '8/27/2014 19:41',
       '8/27/2014 20:13', '8/27/2014 20:52', '8/27/2014 20:53',
       '8/27/2014 21:15', '8/27/2014 21:21', '8/27/2014 21:35',
       '8/27/2014 21:39', '8/27/2014 21:45', '8/27/2014 22:00',
       '8/27/2014 22:04', '8/27/2014 22:06', '8/27/2014 22:07',
       '8/27/2014 22:12', '8/27/2014 22:13', '8/27/2014 22:21',
       '8/27/2014 22:26', '8/27/2014 22:32', '8/27/2014 22:35',
       '8/27/2014 22:36', '8/27/2014 23:09', '8/27/2014 23:10',
       '8/27/2014 23:14', '8/27/2014 23:30', '8/27/2014 23:54',
       '8/27/2014 23:56', '8/27/2014 23:57', '8/27/2014 23:59',
       '8/28/2014 0:02', '8/28/2014 0:05', '8/28/2014 0:17',
       '8/28/2014 0:43', '8/28/2014 1:04', '8/28/2014 2:30',
       '8/28/2014 2:46', '8/28/2014 3:06', '8/28/2014 3:13',
       '8/28/2014 3:15', '8/28/2014 3:36', '8/28/2014 3:47',
       '8/28/2014 3:49', '8/28/2014 3:52', '8/28/2014 4:09',
       '8/28/2014 4:24', '8/28/2014 5:12', '8/28/2014 5:14',
       '8/28/2014 6:02', '8/28/2014 6:05', '8/28/2014 6:10',
       '8/28/2014 7:03', '8/28/2014 8:06', '8/28/2014 8:18',
       '8/28/2014 8:23', '8/28/2014 8:40', '8/28/2014 8:43',
       '8/28/2014 9:53', '8/28/2014 9:56', '8/28/2014 9:57',
       '8/28/2014 9:59', '8/28/2014 10:00', '8/28/2014 10:01',
       '8/28/2014 10:02', '8/28/2014 10:05', '8/28/2014 10:07',
       '8/28/2014 10:08', '8/28/2014 10:10', '8/28/2014 10:13',
       '8/28/2014 10:17', '8/28/2014 10:18', '8/28/2014 10:22',
       '8/28/2014 10:24', '8/28/2014 10:25', '8/28/2014 10:30',
       '8/28/2014 10:34', '8/28/2014 10:35', '8/28/2014 10:42',
       '8/28/2014 10:47', '8/28/2014 10:51', '8/28/2014 10:52',
       '8/28/2014 11:02', '8/28/2014 11:04', '8/28/2014 11:07',
       '8/28/2014 11:10', '8/28/2014 11:14', '8/28/2014 11:15',
       '8/28/2014 11:21', '8/28/2014 11:34', '8/28/2014 11:36',
       '8/28/2014 11:40', '8/28/2014 11:44', '8/28/2014 11:48',
       '8/28/2014 11:58', '8/28/2014 12:02', '8/28/2014 12:05',
       '8/28/2014 12:06', '8/28/2014 12:07', '8/28/2014 12:08',
       '8/28/2014 12:15', '8/28/2014 12:19', '8/28/2014 12:23',
       '8/28/2014 12:30', '8/28/2014 12:40', '8/28/2014 12:42',
       '8/28/2014 13:01', '8/28/2014 13:17', '8/28/2014 13:32',
       '8/28/2014 13:34', '8/28/2014 13:39', '8/28/2014 13:57',
       '8/28/2014 14:00', '8/28/2014 14:01', '8/28/2014 14:04',
       '8/28/2014 14:12', '8/28/2014 14:38', '8/28/2014 14:51',
       '8/28/2014 14:53', '8/28/2014 14:57', '8/28/2014 15:32',
       '8/28/2014 15:43', '8/28/2014 15:48', '8/28/2014 15:50',
       '8/28/2014 16:09', '8/28/2014 16:55', '8/28/2014 16:56',
       '8/28/2014 16:57', '8/28/2014 16:58', '8/28/2014 17:01',
       '8/28/2014 17:02', '8/28/2014 17:03', '8/28/2014 17:07',
       '8/28/2014 17:10', '8/28/2014 17:16', '8/28/2014 17:19',
       '8/28/2014 17:21', '8/28/2014 17:22', '8/28/2014 17:27',
       '8/28/2014 17:28', '8/28/2014 17:31', '8/28/2014 17:33',
       '8/28/2014 17:34', '8/28/2014 17:36', '8/28/2014 17:46',
       '8/28/2014 17:47', '8/28/2014 17:50', '8/28/2014 17:56',
       '8/28/2014 17:57', '8/28/2014 17:59', '8/28/2014 18:01',
       '8/28/2014 18:07', '8/28/2014 18:17', '8/28/2014 18:26',
       '8/28/2014 19:03', '8/28/2014 19:04', '8/28/2014 19:26',
       '8/28/2014 19:35', '8/28/2014 20:12', '8/28/2014 20:31',
       '8/28/2014 21:22', '8/28/2014 21:30', '8/28/2014 21:33',
       '8/28/2014 21:38', '8/28/2014 22:17', '8/28/2014 22:18',
       '8/28/2014 22:20', '8/28/2014 22:22', '8/28/2014 22:23',
       '8/28/2014 22:35', '8/28/2014 22:46', '8/28/2014 23:03',
       '8/28/2014 23:57', '8/29/2014 0:05', '8/29/2014 0:06',
       '8/29/2014 0:11', '8/29/2014 0:41', '8/29/2014 0:43',
       '8/29/2014 0:47', '8/29/2014 1:14', '8/29/2014 2:10',
       '8/29/2014 3:08', '8/29/2014 4:53', '8/29/2014 5:54',
       '8/29/2014 6:06', '8/29/2014 6:37', '8/29/2014 7:12',
       '8/29/2014 7:21', '8/29/2014 7:28', '8/29/2014 7:51',
       '8/29/2014 8:26', '8/29/2014 8:53', '8/29/2014 8:57',
       '8/29/2014 9:01', '8/29/2014 9:10', '8/29/2014 9:12',
       '8/29/2014 9:13', '8/29/2014 9:15', '8/29/2014 9:19',
       '8/29/2014 9:27', '8/29/2014 9:29', '8/29/2014 9:35',
       '8/29/2014 9:36', '8/29/2014 9:54', '8/29/2014 9:59',
       '8/29/2014 10:03', '8/29/2014 10:13', '8/29/2014 10:30',
       '8/29/2014 10:33', '8/29/2014 10:38', '8/29/2014 10:55',
       '8/29/2014 11:02', '8/29/2014 11:12', '8/29/2014 11:20',
       '8/29/2014 11:25', '8/29/2014 11:27', '8/29/2014 11:32',
       '8/29/2014 11:34', '8/29/2014 11:36', '8/29/2014 11:40',
       '8/29/2014 11:43', '8/29/2014 11:56', '8/29/2014 12:08',
       '8/29/2014 12:20', '8/29/2014 12:27', '8/29/2014 12:45',
       '8/29/2014 12:48', '8/29/2014 13:17', '8/29/2014 13:58',
       '8/29/2014 14:09', '8/29/2014 14:31', '8/29/2014 15:59',
       '8/29/2014 16:07', '8/29/2014 17:35', '8/29/2014 18:33',
       '8/29/2014 19:32', '8/29/2014 20:53', '8/29/2014 21:26',
       '8/29/2014 21:28', '8/30/2014 0:09', '8/30/2014 6:48',
       '8/30/2014 13:23', '8/30/2014 13:55', '8/30/2014 14:00',
       '8/30/2014 15:57', '8/30/2014 16:13', '8/30/2014 16:38',
       '8/30/2014 18:29', '8/30/2014 19:35', '8/30/2014 20:19',
       '8/30/2014 20:43', '8/31/2014 4:31', '9/1/2014 4:28',
       '9/1/2014 6:52', '9/1/2014 8:19', '9/1/2014 8:23', '9/1/2014 9:12',
       '9/1/2014 9:15', '9/1/2014 12:00', '9/1/2014 17:59',
       '9/2/2014 3:13', '9/2/2014 4:00', '9/2/2014 8:00', '9/2/2014 9:57',
       '9/2/2014 17:04', '9/4/2014 6:23', '9/4/2014 8:35',
       '9/4/2014 17:38', '9/5/2014 14:15', '9/5/2014 14:19',
       '9/8/2014 16:46', '9/9/2014 13:49', '9/11/2014 17:00',
       '9/13/2014 7:52', '9/14/2014 9:04', '9/23/2014 20:05',
       '11/16/2014 8:42', '12/15/2014 0:43', '2/21/2015 4:16',
       '2/21/2015 4:41', '2/21/2015 4:55', '2/21/2015 5:34',
       '2/21/2015 5:55', '2/21/2015 6:19', '2/21/2015 8:21',
       '2/21/2015 8:54', '2/21/2015 9:19', '2/21/2015 9:22',
       '2/21/2015 9:30', '2/21/2015 9:48', '2/21/2015 10:00',
       '2/21/2015 17:19', '2/21/2015 18:59', '2/22/2015 2:40',
       '2/24/2015 9:00', '2/24/2015 9:13', '2/24/2015 9:18',
       '2/24/2015 10:32', '4/2/2015 15:47', '4/11/2015 14:35',
       '4/23/2015 14:03', '5/6/2015 10:14', '5/6/2015 16:55',
       '7/27/2015 23:25', '8/17/2015 9:38', '8/25/2015 19:59',
       '9/26/2015 1:07', '2/1/2016 23:04'], dtype=object)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292364 entries, 0 to 292363
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Timestamp                292364 non-null  object
 1   Gender                   292364 non-null  object
 2   Country                  292364 non-null  object
 3   Occupation               292364 non-null  object
 4   self_employed            287162 non-null  object
 5   family_history           292364 non-null  object
 6   treatment                292364 non-null  object
 7   Days_Indoors             292364 non-null  object
 8   Growing_Stress           292364 non-null  object
 9   Changes_Habits           292364 non-null  object
 10  Mental_Health_History    292364 non-null  object
 11  Coping_Struggles         292364 non-null  object
 12  mental_health_interview  292364 non-null  object
 13  care_options             292364 non-null  object
dtypes: object(14)
memory usage: 31.2+ MB

In [13]:
df.isnull().sum()

Timestamp                     0
Gender                        0
Country                       0
Occupation                    0
self_employed              5202
family_history                0
treatment                     0
Days_Indoors                  0
Growing_Stress                0
Changes_Habits                0
Mental_Health_History         0
Coping_Struggles              0
mental_health_interview       0
care_options                  0
dtype: int64

# impute null values

In [14]:
import pandas as pd

# Assuming df is your DataFrame
df['self_employed'].fillna(df['self_employed'].mode()[0], inplace=True)

In [15]:
df.isnull().sum()

Timestamp                  0
Gender                     0
Country                    0
Occupation                 0
self_employed              0
family_history             0
treatment                  0
Days_Indoors               0
Growing_Stress             0
Changes_Habits             0
Mental_Health_History      0
Coping_Struggles           0
mental_health_interview    0
care_options               0
dtype: int64

In [16]:
df.describe()

,Timestamp,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Coping_Struggles,mental_health_interview,care_options
count,292364,292364,292364,292364,292364,292364,292364,292364,292364,292364,292364,292364,292364,292364
unique,580,2,35,5,2,2,2,5,3,3,3,2,3,3
top,8/27/2014 11:43,Male,United States,Housewife,No,No,Yes,1-14 days,Maybe,Yes,No,No,No,No
freq,2384,239850,171308,66351,263196,176832,147606,63548,99985,109523,104018,154328,232166,118886

# value count funtion to count male and female

In [17]:
df.Gender.value_counts()

Gender
Male      239850
Female     52514
Name: count, dtype: int64

# feature encoding
- label encoding

In [25]:
df.columns

Index(['Timestamp', 'Gender', 'Country', 'Occupation', 'self_employed',
       'family_history', 'treatment', 'Days_Indoors', 'Growing_Stress',
       'Changes_Habits', 'Mental_Health_History', 'Coping_Struggles',
       'mental_health_interview', 'care_options'],
      dtype='object')

In [27]:
df[['Timestamp', 'Gender', 'Country', 'Occupation', 'self_employed','Changes_Habits','Growing_Stress', #family_history' 'treatment', 'Growing_Stress','Changes_Habits', 'Mental_Health_History', 'Coping_Struggles''mental_health_interview', #'care_options'
    ]]

,Timestamp,Gender,Country,Occupation,self_employed,Changes_Habits,Growing_Stress
0,39,0,United States,Corporate,No,No,Yes
1,41,0,United States,Corporate,No,No,Yes
2,42,0,United States,Corporate,No,No,Yes
3,47,0,United States,Corporate,No,No,Yes
4,52,0,United States,Corporate,No,No,Yes
...,...,...,...,...,...,...,...
292359,36,1,United States,Business,Yes,Maybe,No
292360,37,1,South Africa,Business,No,Maybe,No
292361,38,1,United States,Business,No,Maybe,No
292362,570,1,United States,Business,No,Maybe,No
292363,4,1,United States,Business,No,Maybe,No

In [18]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df['Gender']=le.fit_transform(df.Gender.values)
df['Timestamp']=le.fit_transform(df['Timestamp'])

In [19]:
df.Gender.value_counts()

Gender
1    239850
0     52514
Name: count, dtype: int64

## one hot coding

In [28]:
dumies=pd.get_dummies(df.self_employed)
dumies

           No    Yes
0        True  False
1        True  False
2        True  False
3        True  False
4        True  False
...       ...    ...
292359  False   True
292360   True  False
292361   True  False
292362   True  False
292363   True  False

[292364 rows x 2 columns]

# merge dumies and df

In [21]:
df1=pd.concat([df,dumies],axis='columns')

In [22]:
df1.head(6)

,Timestamp,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,...,Poland,Portugal,Russia,Singapore,South Africa,Sweden,Switzerland,Thailand,United Kingdom,United States
0,39,0,United States,Corporate,No,No,Yes,1-14 days,Yes,No,...,False,False,False,False,False,False,False,False,False,True
1,41,0,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,...,False,False,False,False,False,False,False,False,False,True
2,42,0,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,...,False,False,False,False,False,False,False,False,False,True
3,47,0,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,...,False,False,False,False,False,False,False,False,False,True
4,52,0,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,...,False,False,False,False,False,False,False,False,False,True
5,56,0,Poland,Corporate,No,No,Yes,1-14 days,Yes,No,...,True,False,False,False,False,False,False,False,False,False

# droping country from orignal data

In [23]:
df2=df1.drop('Country',axis='columns')
df2

,Timestamp,Gender,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,...,Poland,Portugal,Russia,Singapore,South Africa,Sweden,Switzerland,Thailand,United Kingdom,United States
0,39,0,Corporate,No,No,Yes,1-14 days,Yes,No,Yes,...,False,False,False,False,False,False,False,False,False,True
1,41,0,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,...,False,False,False,False,False,False,False,False,False,True
2,42,0,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,...,False,False,False,False,False,False,False,False,False,True
3,47,0,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,...,False,False,False,False,False,False,False,False,False,True
4,52,0,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292359,36,1,Business,Yes,Yes,Yes,15-30 days,No,Maybe,No,...,False,False,False,False,False,False,False,False,False,True
292360,37,1,Business,No,Yes,Yes,15-30 days,No,Maybe,No,...,False,False,False,False,True,False,False,False,False,False
292361,38,1,Business,No,Yes,No,15-30 days,No,Maybe,No,...,False,False,False,False,False,False,False,False,False,True
292362,570,1,Business,No,Yes,Yes,15-30 days,No,Maybe,No,...,False,False,False,False,False,False,False,False,False,True
292363,4,1,Business,No,Yes,Yes,15-30 days,No,Maybe,No,...,False,False,False,False,False,False,False,False,False,True

In [24]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292364 entries, 0 to 292363
Data columns (total 48 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Timestamp                292364 non-null  int32
 1   Gender                   292364 non-null  int32
 2   Occupation               292364 non-null  object
 3   self_employed            292364 non-null  object
 4   family_history           292364 non-null  object
 5   treatment                292364 non-null  object
 6   Days_Indoors             292364 non-null  object
 7   Growing_Stress           292364 non-null  object
 8   Changes_Habits           292364 non-null  object
 9   Mental_Health_History    292364 non-null  object
 10  Coping_Struggles         292364 non-null  object
 11  mental_health_interview  292364 non-null  object
 12  care_options             292364 non-null  object
 13  Australia                292364 non-null  bool
 14  Belgium                  292364 non-null  bool
 15  Bosnia and Herzegovina   292364 non-null  bool
 16  Brazil                   292364 non-null  bool
 17  Canada                   292364 non-null  bool
 18  Colombia                 292364 non-null  bool
 19  Costa Rica               292364 non-null  bool
 20  Croatia                  292364 non-null  bool
 21  Czech Republic           292364 non-null  bool
 22  Denmark                  292364 non-null  bool
 23  Finland                  292364 non-null  bool
 24  France                   292364 non-null  bool
 25  Georgia                  292364 non-null  bool
 26  Germany                  292364 non-null  bool
 27  Greece                   292364 non-null  bool
 28  India                    292364 non-null  bool
 29  Ireland                  292364 non-null  bool
 30  Israel                   292364 non-null  bool
 31  Italy                    292364 non-null  bool
 32  Mexico                   292364 non-null  bool
 33  Moldova                  292364 non-null  bool
 34  Netherlands              292364 non-null  bool
 35  New Zealand              292364 non-null  bool
 36  Nigeria                  292364 non-null  bool
 37  Philippines              292364 non-null  bool
 38  Poland                   292364 non-null  bool
 39  Portugal                 292364 non-null  bool
 40  Russia                   292364 non-null  bool
 41  Singapore                292364 non-null  bool
 42  South Africa             292364 non-null  bool
 43  Sweden                   292364 non-null  bool
 44  Switzerland              292364 non-null  bool
 45  Thailand                 292364 non-null  bool
 46  United Kingdom           292364 non-null  bool
 47  United States            292364 non-null  bool
dtypes: bool(35), int32(2), object(11)
memory usage: 36.5+ MB