In [34]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [35]:
#df=pd.read_csv("C:\\Users\\Mr\\Desktop\\python\\hose_prediction.csv",parse_dates=["date"])

In [36]:
df=pd.read_csv("C:\\Users\\Mr\\\Desktop\catdog.csv")

In [37]:
df.head()

   height  weight   eyes species  mass
0    56.4    80.5  black     dog     7
1     NaN    29.4  black     cat     7
2    30.2    30.9  green    bili    23
3    50.7    56.9    red    goat     9
4    45.6    78.8   blue     dog    23

In [38]:
df2=df[['eyes','species']]
df2.head()

    eyes species
0  black     dog
1  black     cat
2  green    bili
3    red    goat
4   blue     dog

In [39]:
le=LabelEncoder()
df2["new_eyes"]=le.fit_transform(df2['eyes'])
df2

C:\Users\Mr\AppData\Local\Temp\ipykernel_6220\2233237481.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["new_eyes"]=le.fit_transform(df2['eyes'])

    eyes species  new_eyes
0  black     dog         0
1  black     cat         0
2  green    bili         2
3    red    goat         3
4   blue     dog         1
5   blue     cat         1
6  black    calf         0
7   blue     dog         1
8  green    calf         2
9  black     cat         0

In [40]:
pd.set_option("display.max_rows",None)

# above and below code have same output

In [41]:
df3=le.fit_transform(df2['eyes'])
df2["new_eyes"]=df3
df2

C:\Users\Mr\AppData\Local\Temp\ipykernel_6220\1486406612.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["new_eyes"]=df3

    eyes species  new_eyes
0  black     dog         0
1  black     cat         0
2  green    bili         2
3    red    goat         3
4   blue     dog         1
5   blue     cat         1
6  black    calf         0
7   blue     dog         1
8  green    calf         2
9  black     cat         0

In [42]:
df2["eyes"].value_counts()

eyes
black    4
blue     3
green    2
red      1
Name: count, dtype: int64

In [43]:
df2["species"].value_counts()

species
dog     3
cat     3
calf    2
bili    1
goat    1
Name: count, dtype: int64

In [45]:
spe_label={"dog":1,"cat":2,"calf":3,"bili":4,"goat":5}

In [49]:
df2["new_species"]=df2["species"].map(spe_label)
df2

C:\Users\Mr\AppData\Local\Temp\ipykernel_6220\1182191317.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["new_species"]=df2["species"].map(spe_label)

    eyes species  new_eyes  new_species
0  black     dog         0            1
1  black     cat         0            2
2  green    bili         2            4
3    red    goat         3            5
4   blue     dog         1            1
5   blue     cat         1            2
6  black    calf         0            3
7   blue     dog         1            1
8  green    calf         2            3
9  black     cat         0            2