# data cleaning by class mean and impute numerical value

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("C:\\Users\\Mr\\Desktop\\python\\hose_prediction.csv",parse_dates=["date"])

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [ ]:
df1=df.select_dtypes(include=['int64','float64'])
df1.columns

In [ ]:
df.isnull().sum().sum()

In [ ]:
miss_value_per=df1.isnull().sum()/df.shape[0]*100
miss_value_per

In [18]:
miss_value=['price','view','yr_built','sqft_lot']
df1[miss_value][df1[miss_value].isnull().any(axis=1)]

         price  view  yr_built  sqft_lot
4     550000.0   0.0       NaN   10500.0
6     335000.0   NaN       NaN    2560.0
7     482000.0   0.0       NaN   35868.0
8     452500.0   NaN    1985.0   88426.0
9          NaN   9.0    1945.0    6200.0
10    463000.0   0.0       NaN    7320.0
13    365000.0   0.0       NaN    6435.0
14         NaN   0.0    1939.0    9480.0
15    242500.0   0.0       NaN    9720.0
17    367500.0   NaN       NaN    7231.0
19    275000.0   0.0       NaN   10277.0
20    750000.0   NaN    1923.0   10578.0
21    435000.0   0.0       NaN    8800.0
22         NaN   0.0    2005.0    1572.0
23    612500.0   NaN    1991.0   12261.0
25    285000.0   NaN    1987.0   10834.0
27    698000.0   NaN    1920.0   11250.0
29         NaN   0.0    1951.0    4750.0
34         NaN   0.0    1979.0   42884.0
36    440000.0   NaN    1944.0    4850.0
37    287200.0   0.0       NaN   19966.0
38         NaN   2.0    1957.0   13100.0
40    335000.0   0.0       NaN   16215.0
41         NaN   9.0    1974.0    8625.0
43    439950.0   NaN    1990.0    2875.0
44         NaN   0.0       NaN    9400.0
46         NaN   9.0       NaN   35100.0
47    407500.0   0.0       NaN   10460.0
49         NaN   NaN       NaN       NaN
52         NaN   0.0       NaN       NaN
56    491500.0   NaN    1968.0       NaN
60    555000.0   0.0    2012.0       NaN
63    300000.0   0.0    2006.0       NaN
71    783500.0   NaN    1980.0    7130.0
75    531000.0   0.0       NaN    1175.0
84    485000.0   NaN    1979.0    7048.0
89    232000.0   NaN    1958.0    8063.0
92    823000.0   NaN    1908.0    5000.0
93    770000.0   0.0       NaN    5700.0
94    524000.0   NaN    1944.0    5520.0
95    541125.0   0.0    1960.0       NaN
97    384900.0   NaN    1968.0   12750.0
102   787000.0   0.0    1961.0       NaN
103   328000.0   0.0       NaN    6500.0
104   435000.0   0.0       NaN    9240.0
105   499000.0   0.0       NaN    6479.0
132   210000.0   0.0       NaN       NaN
147   478000.0   0.0    2007.0       NaN
153   353000.0   0.0    1947.0       NaN
168   250000.0   0.0    1954.0       NaN
177   367500.0   0.0    1961.0       NaN
185   563000.0   0.0    1996.0       NaN
203   530000.0   0.0    1964.0       NaN
213   385000.0   0.0    1982.0       NaN
229   519950.0   0.0    2014.0       NaN
250   246000.0   0.0    1944.0       NaN
257   749950.0   0.0    1949.0       NaN
264   500000.0   0.0    1906.0       NaN
277   313000.0   0.0    1967.0       NaN
278   618080.0   0.0    1988.0       NaN
284  1500000.0   0.0    1914.0       NaN
286   500000.0   0.0    1987.0       NaN
288   314950.0   0.0    1968.0       NaN
323   712000.0   0.0    1900.0       NaN
330   559950.0   0.0    2006.0       NaN
347   385000.0   0.0    1944.0       NaN
365   437000.0   0.0    1976.0       NaN
375   330000.0   0.0    1972.0       NaN
399   280950.0   3.0    1912.0       NaN
425   260000.0   0.0    1963.0       NaN
443   542500.0   0.0    1978.0       NaN
446   415000.0   0.0    1992.0       NaN
447   252500.0   0.0    1947.0       NaN
448   465000.0   0.0    1968.0       NaN
449   336900.0   0.0    1979.0       NaN
451   270000.0   0.0    1969.0       NaN
466   875000.0   0.0    1921.0       NaN
480   900000.0   0.0    1978.0       NaN
493   225000.0   0.0    1966.0       NaN
496   185000.0   0.0    1961.0       NaN
499   522000.0   0.0    1980.0       NaN
512   339000.0   0.0    1955.0       NaN
542   383000.0   0.0    2010.0       NaN
561        NaN   0.0       NaN    8164.0
565   225000.0   0.0    1967.0       NaN
578        NaN   0.0    2003.0   16625.0
607        NaN   0.0    1910.0    5000.0
619   525000.0   NaN    2007.0    5086.0
622        NaN   0.0    2006.0    6773.0
680   340000.0   NaN    1997.0    3716.0
699   450000.0   NaN    1989.0   17172.0
701   215000.0   NaN    1967.0    7200.0
704  1222500.0   NaN    2007.0    9444.0
724   197500.0   NaN    1903.0    3090.0