In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("C:\\Users\\Mr\\Desktop\\python\\hose_prediction.csv",parse_dates=["date"])

In [3]:
cat_var=df.select_dtypes(include=['object'])
cat_var.columns

Index(['street', 'city', 'statezip', 'country'], dtype='object')

In [4]:
cat_var.isnull().sum()

street       0
city        55
statezip     0
country      0
dtype: int64

In [5]:
cat_var.isnull().mean()*100

street      0.000000
city        1.195652
statezip    0.000000
country     0.000000
dtype: float64

In [6]:
cat_var['city'].fillna('missing')

0       Shoreline
1         Seattle
2            Kent
3         missing
4         missing
          ...
4595      Seattle
4596     Bellevue
4597       Renton
4598      Seattle
4599    Covington
Name: city, Length: 4600, dtype: object

In [7]:
cat_var['city'].mode()

0    Seattle
Name: city, dtype: object

In [8]:
cat_var['city'].value_counts()

city
Seattle                1554
Renton                  291
Bellevue                281
Redmond                 232
Kent                    184
Issaquah                184
Kirkland                183
Auburn                  173
Sammamish               172
Federal Way             146
Shoreline               120
Woodinville             115
Maple Valley             96
Mercer Island            86
Burien                   74
Snoqualmie               70
Kenmore                  65
Des Moines               56
North Bend               49
Covington                43
Duvall                   41
Lake Forest Park         36
Bothell                  33
Newcastle                33
Vashon                   29
Tukwila                  29
SeaTac                   29
Enumclaw                 28
Carnation                22
Normandy Park            17
Medina                   11
Fall City                11
Clyde Hill               11
Black Diamond             9
Ravensdale                7
Pacific                   6
Algona                    5
Yarrow Point              4
Skykomish                 3
Preston                   2
Milton                    2
Beaux Arts Village        1
Snoqualmie Pass           1
Inglewood-Finn Hill       1
Name: count, dtype: int64

In [9]:
cat_var['city'].fillna(cat_var['city'].mode()[0],inplace=True)

In [10]:
cat_var.isnull().sum()

street      0
city        0
statezip    0
country     0
dtype: int64

In [11]:
df.update(cat_var)

In [12]:
df.isnull().sum()

date              0
price            15
bedrooms          0
bathrooms         0
sqft_living       0
sqft_lot         45
floors            0
waterfront        0
view             23
condition         0
sqft_above        0
sqft_basement     0
yr_built         23
yr_renovated      0
street            0
city              0
statezip          0
country           0
dtype: int64

In [13]:
df.select_dtypes(include=['object']).isnull().sum()

street      0
city        0
statezip    0
country     0
dtype: int64