In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("C:\\Users\\Mr\\Desktop\\catdog.csv")
df

In [ ]:
df.loc[0]

In [ ]:
df.loc[9]

In [ ]:
#for multiple rows 
df.loc[[0,1]]

In [ ]:
df

In [ ]:
df.loc[0,'species']

In [ ]:
df.loc[0:4,'species']#lice the record

In [ ]:
df.loc[[0,True]]

In [ ]:
df.loc[df['mass']<40]

In [ ]:
df

In [ ]:
df.loc[df['mass']<40,['species']]

In [ ]:
# now we use iloc integer base location indexing loc and iloc used for data selecting
df.iloc[0]

In [ ]:
df.iloc[[0]]

In [ ]:
# all rows and one col we can just use iloc method jf we use loc method it shows error
df.iloc[:,0]

In [ ]:
df.iloc[[0,1]]

In [32]:
df.iloc[[0,False,True]]

   height  weight  eyes  species  mass
0    56.4    80.5     5       55    23
0    56.4    80.5     5       55    23
1     NaN    29.4     7       55    56