In [ ]:
# we use group by fuction to split data on the base of critera
# 1 spliting object
#applying fucation and combining result
import pandas as pd

In [ ]:
df=pd.read_csv("C:\\Users\Mr\\Desktop\\catdog.csv")
df

In [ ]:
gr=df.groupby(by='height')
gr

In [ ]:
gr.groups

In [ ]:
df

In [ ]:
df.groupby(['mass','species']).groups

In [ ]:
for mass,df1 in gr:
    print(mass)
    print(df1)

In [ ]:
dict(list(gr))

In [ ]:
df

In [ ]:
gr1=df.groupby('species').get_group(55)

In [ ]:
gr1

In [ ]:
gr1.sum()

In [ ]:
gr1.sum().sum()

In [ ]:
gr1

In [ ]:
gr1.mean()

In [ ]:
gr1.describe()

In [30]:
gr1.agg(['sum','max','mean'])

      height      weight  eyes  species  mass
sum   106.70  188.800000  24.0    165.0  87.0
max    56.40   80.500000  12.0     55.0  56.0
mean   53.35   62.933333   8.0     55.0  29.0