In [ ]:
import pandas as  pd
pd.__version__

In [ ]:
list_s=[1,-3,3.4,5]
print(list_s)

In [ ]:
type(list_s)

In [ ]:
series1=pd.Series(list_s)
type(series1)

In [ ]:
print(series1)

In [ ]:
empty_series=pd.Series([])

In [ ]:
series2=pd.Series([3,4,5,6,7],index=['a','b','c','d','e'])
print(series2)

In [ ]:
series2=pd.Series([3,4,5,6,7],index=['a','b','c','d','e'],dtype=float)
print(series2)

In [ ]:
series2=pd.Series([3,4,5,6,7],index=['a','b','c','d','e'],dtype=float,name="copy=data value")
print(series2)

In [ ]:
scaler_v=pd.Series(0.5,index=[1,2,3])
print(scaler_v)

In [ ]:
dict=pd.Series({'a':'ahmad','b':'meena'})
print(dict)

In [ ]:
dict=pd.Series({'a':9,'b':8})
print(dict)

In [ ]:
s4=pd.Series([3,4,5,6])

In [ ]:
s4[3]

In [ ]:
s4.max()

In [ ]:
s4.min()

In [ ]:
# for slicing values
s4[0:2]

In [ ]:
s4[s4>4]

In [ ]:
s4

In [ ]:
s5=pd.Series([4,5,7,8,6]) 
s5

In [ ]:
s4+s5 #when two series have un equal values

In [ ]:
s4*s5

In [ ]:
#creating dictionary use of data fram
dict1={'name':['hina','ali','sna','maya','sana'],'id':[3,4,5,6,0],'rolno':[13,14,15,16,0]}

In [ ]:
df=pd.DataFrame(dict1)
df

In [ ]:
#creating dictionary use of data fram
dict11=[{'name','id','rol'},{'hina','ali','sna','maya','sana'},{3,4,5,6,0},{13,14,15,16,0}]

In [ ]:
df2=pd.DataFrame(dict11)
df2

In [ ]:
import os  # for path of file
os.getcwd()

In [ ]:
df3=pd.read_csv("C:\\Users\\Mr\\Desktop\\got (1).csv",nrows=2)#for rows
df3

In [ ]:
df3.columns

In [ ]:
df3=pd.read_csv("C:\\Users\\Mr\\Desktop\\got (1).csv",usecols=[1])# for columns
df3

In [ ]:
df3=pd.read_csv("C:\\Users\\Mr\\Desktop\\got (1).csv",usecols=[0,1])# for columns
df3

In [ ]:
df3=pd.read_csv("C:\\Users\\Mr\\Desktop\\got (1).csv",usecols=[2,4])# for columns
df3

In [ ]:
# for skip rows both wriking in same way
#df3=pd.read_csv("C:\\Users\\Mr\\Desktop\\got (1).csv",skiprows=1)
#df3=pd.read_csv("C:\\Users\\Mr\\Desktop\\got (1).csv",header=1)
# for skip rows we can skip any rows
df3=pd.read_csv("C:\\Users\\Mr\\Desktop\\got (1).csv",skiprows=[0])
df3

In [ ]:
# we can skip multiple rows in the same way
df3=pd.read_csv("C:\\Users\\Mr\\Desktop\\got (1).csv",skiprows=[2,4])
df3

In [ ]:
# we can change index value by any col, both work in same way
#df3=pd.read_csv("C:\\Users\\Mr\\Desktop\\got (1).csv",index_col="total_bill")
# we can change index value by any col, both work in same way
df3=pd.read_csv("C:\\Users\\Mr\\Desktop\\got (1).csv",index_col=3)
df3

In [ ]:
df3=pd.read_csv("C:\\Users\\Mr\\Desktop\\got (1).csv")#without header
df3

In [ ]:
#we can change our header
df3=pd.read_csv("C:\\Users\\Mr\\Desktop\\got (1).csv",header=None)
df3

In [ ]:
# we can change name of cols
#we can change our header
df3=pd.read_csv("C:\\Users\\Mr\\Desktop\\got (1).csv",names=['A','B','C','D','E','F','G'])
df3